/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
	
	position: absolute;
	width:100%;
	height:100%;

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {

    }
}

h1 {
    font-size:2em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:1em;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.shouldItem {
    text-align: left;
    font-size: large;
    border-bottom: 4px solid black;
   
   	min-height:100px;
    margin-bottom: 1em;
    width: 100% !important;
    margin-left:0 !important;
    margin-right:0 !important;

}


.shouldItem p {
    display: inline-block;
    /* for centering */
    line-height:50px;
    margin-left:25px;
    margin-bottom:0;
    margin-top:12px;
    float:left;
}

.shouldItem img {
	height:65px;
	width:65px;
    display: inline-block;
    float:left;
    margin-left: 18px;

}

.shouldItem a {
    text-shadow: none;
    margin-top:10%;

}
.clear {
    clear: both;
}

.homeTop {
	text-align: center;
}

.homeTop h2 {
	font-weight: inherit;
}
.footerButton {
	width: 40%;
	height: 100%;
}

.headerImg {
	max-width:100%;
	margin: auto;
}

#sailIframe {
	width:90% !important;
	height:100% !important;
	border:none !important;
	padding:.1em;
}

h1 {
    font-size: 2em !important;
}

.menuButton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 4em 0em;
    border: .1em solid #a12727;
    border-radius: 1em;
    margin-top:2.5em;
    
    background: #F64747;
    
    -webkit-box-shadow: #380d0d -1em -1em 2.2em 0.3em;
    -moz-box-shadow: #380d0d -1em -1em 2.2em 0.3em;
    box-shadow: #380d0d -1em -1em 2.2em 0.3em;
    text-shadow: #591717 .4em .5em .7em;
    font: normal normal bold 1em georgia;
    color: #ffffff;
    text-decoration: none;
    width:40%;
}
.button:hover,
.button:focus {
    background: #ff5959;
    background: #F64747;
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 2em;
    width: 2em;
    line-height: 2em;
    margin: 0 .4em -.6em -.4em;
    position: relative;
    top: 0px;
    left: 0px;
     background-size: 100% 100%;
}

.left {
    float: left;
    margin-left: 1em;
}

.right {
    float: right;
    margin-right:1em;
}

.clear {
    clear: both;
}

.marginBottom {
    margin-bottom: 10%;
}

.noShadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none !important;

}

.center {
    text-align: center;
    margin: 0 auto !important;
}

.indent {
    margin-left: 3%;
}

.indent p {
    margin-left: 5%;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ui-checkbox {
	width:100%;
	display: flex;
	min-height:6em;
}

.ui-checkbox label{
	
  @include vertical-align;
	width:100%;
	display: table-cell;
	
	
}
 .ui-field-contain .ui-controlgroup-controls {
 	width:100%;
 }
 
 .noPadding {
 	padding: 0;
 }
 
 .categoryLink {
 	width:100%;
 }
 
 .animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	
  margin: 0px 10px 10px 0px;
  width:100px;
  min-height:35px;
  
	border-radius: 0px !important;
	font-size: 22px;
	font-weight:normal !important;
	color: #FFF;
	text-decoration: none;	
	border-bottom: 5px solid #561F19 !important;
}

.action-button:hover
{
	/* background-color: #7d160d !important *//*{a-bup-background-color}*/;
	border-color: #0e0d0b !important;
	border-bottom: 5px solid #561F19 !important;
	
}

.small
{
	position: relative;
	
  
  width:40%;
  
  display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 4em 0em;
    margin-top:2.5em;
  
	border-radius: 0px !important;
	border-bottom: 5px solid #561F19 !important;
	font-size: 16px;
	font-weight:normal !important;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	/*background-color: #E74C3C; */
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active, .action-button:focus
{
	position: relative;
	box-shadow: none !important;
  
	border-radius: 0px !important;
	
	font-weight:normal !important;
	color: #FFF;
	text-decoration: none;	
	border-bottom: 5px solid #561F19 !important;
	transform: translate(0px,5px) !important;
  -webkit-transform: translate(0px,5px) !important;
	
}

.a_demo_four {
	background-color:#2FC1D0 !important;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	padding-right:50px;
	width:100px;
	
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%) !important;
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%) !important;
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%) !important;
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%) !important;
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%) !important;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	) !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px 
#6F6B5C !important;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px 
#6F6B5C !important;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px 
#6F6B5C !important;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px 
#6F6B5C !important;
border: none !important;
}

.a_demo_four:active {
	border: none !important;
	top:3px;
	text-align:center;
	
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%) !important;
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%) !important;
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%) !important;
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%) !important;
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%) !important;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	) !important;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px 
#6F6B5C !important;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px 
#6F6B5C !important;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px 
#6F6B5C !important;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px 
#6F6B5C !important;
}

.a_demo_four::before {
	border: none !important;
	background-color:#2591b4 !important;
	background-image:url(../arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:30px;
	height:30px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-14px;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-o-border-radius: 50% !important;
	border-radius: 50% !important;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0 !important;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0 !important;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0 !important;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0 !important;
}

.a_demo_four:active::before {
	border: none !important;
	top:50%;
	margin-top:-17px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6 !important;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6 !important;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6 !important;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6 !important;
}

.ui-btn {
	white-space: normal;
}

#vimeoVideo-popup{
	width:90% !important;
	max-width: 90% !important;
}

.ui-title {
	overflow: visible !important;
	white-space: pre-line !important;
}

.optionsIcon {
	font-size:36px !important;
	padding: 5px 10px;
}

.ui-header, .ui-footer {
	min-height:70px !important;
}

.errorMessage {
	display:none;
	margin-top:20px;
	padding: 20px 5px;
	font-size:18px;
	background-color:red;
	color:white;
	min-height:40px;
}
